/* css plantilla para la cabecera, fondo y botones */

#Menú_y_nombre{
    border-bottom: blue 8px solid;
    background-color: white;
    width: 100%;
    position: fixed;
    left: 0; /* es para evitar que se corte por defecto el <div> en la parte izquierda y superior */
    top: 0;
    z-index: 9; /* para que se quede siempre encima del contenido */
}
    #Menú_y_nombre .tablaObjetos{
        width: 100%;
    }
th .columnaTitulos{
    padding: 5px 5px 7px 15px;
}
    .columnaTitulos #titulos{
        text-align: left;
        margin: 0px;
        font-family: 'Poppins', sans-serif;
    }
#clave{
    padding-left: 12%;
}
th .columnaMenu{
    float: right;
    padding-right: 20px;
    width: 80%;
}
    .columnaMenu #Menu {
        float: right;
    }
        .columnaMenu #Menu ol{
            margin: 0;
            padding: 0;
            list-style: none;
            padding: 20px;
            margin-right: 15px;
        }
            .columnaMenu #Menu ol li{
                display: inline-block;
                padding: 10px;
                text-decoration: none;
            }
                .columnaMenu #Menu ol li a{
                    display: block;
                    font-family: 'Poppins', sans-serif;
                }   
                    .columnaMenu #Menu #resaltado{
                        border: 1px blue dotted;
                        border-radius: 25px;
                    }

/* acaba el css plantilla */

#Titulo{
    font-family: 'Trispace', 'sans-serif';
    text-align: center;
    width: auto;
    left: 50%;
    right: 50%;
    color: blue;
    font-size: 300;
}

.container{ 
    width: 100%;
    height: 100%;
    text-align: center;
}
   
    .timeline {
        width: 100%;
        margin: 9% 0% 0% 0%;
        padding-left: 0;
        float: left;
    }
   
        .timeline:before {
            position: fixed;
            left: 10.5%;
            top: 0;
            bottom: 0;
            content: ' ';
            display: block;
            width: 4px;
            height: 150%;
            margin-left: -3px;
            background: #2c91ea;
            z-index: 5;
        } 
   
   
        .dir-r{ 
            width: 80%; 
            padding: 5px 5px 5px 5px; 
            background: whitesmoke; 
            margin-top: 0; 
            margin-bottom: 1.5em;
        }
   
        .timeline h1{
            font-size: 1.6em;
            color: #4B878D;
            width: 90%;
            margin-top: 3px;
            font-family: 'Poppins', 'sans serif';
        }
   
        .timeline p{ 
            letter-spacing: .5px;
            font-size: .1,2em;
            line-height: 1.5em;
            margin: 30px;
            margin-top: 1.5em;
            font-family: 'Poppins', 'sans serif';
        }
   
    .timeline .icono{
        border-radius: 50%;
    }
   
    .timeline-icon{
        position: absolute;
        top: 1em;
        width: 2.5em;
        height: 2.5em;
        right: 0;
        border-radius: 50%;
        z-index: 8;
    } 

    .dir-r{ 
        display: inline-block;
        margin-left: 10%;
    }
   
        .dir-r::before{
            content: "";
            display: inline-block;
            vertical-align: middle;
            width: 0; 
            height: 0; 
            position: absolute;
            left: -.9em;
            top: 10;
            border-top: 17px solid transparent;
            border-bottom: 17px solid transparent; 
            border-right: 15px solid #fff; 
        }
   
        .timeline-icon{
            position: absolute;
            top: -.2em;
            width: 60px;
            height: 60px;
            left: 10%;
            margin-left: -30px;
            box-shadow:  0 0 0 4px #2c91ea;
        }
   
        .timeline-blocks{
            display: inline-block;
            height: auto;
            padding: 1em 0;
            position: relative;
            overflow: hidden;
        }
   
        .timeline .icono{
            border-radius: 50%;
            width: 100%;
        }

        #sample{
            width: 300px;
            float: right;
            border: 3px solid blue;
            margin: .5em;
            border-radius: 10px;
            margin-right: 30px;
        }

        #sample1{
            width: 150px;
            float: right;
            border: 3px solid blue;
            margin: .5em;
            border-radius: 10px;
            margin-right: 30px;
        }