.banner{
    width: 200px;
    float: center;
}
.link{
    width: center;
    float: center;
    text-align: center;
    font-size: 30px;
    padding-left: 20%;
    border-top: 10px;
    color: black;
    background-color: gray;
}
.casa{
    width: 30px;
    float: center;
    background-color: gray;
}
#nombre > h1{
    float: right;
    font-style: italic;
}
#fdp{
    margin-top: 10px;
    padding-top: 20px;
    float: right;
    width: 200px;

}